<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Enlink</title>
		<link rel="shortcut icon" href="../images/logo/favicon.png">
		<link rel="stylesheet" href="../css/app.min.css">
		<link rel="stylesheet" href="../plugin/bootstrap-table-1.18.0/bootstrap-table.css">
		<link rel="stylesheet" href="../plugin/jquery-treegrid-0.3.0/css/jquery.treegrid.css">
	</head>
	<body>
		<div class="card">
			<div class="card-body">
				<h4>Basic Usage</h4>
				<p>Using the most basic table markup, here’s how <code>.table</code>-based tables look in Bootstrap.</p>
				<div class="m-t-25">
					<div class="table-responsive">
						<table id="table" class="table">
						</table>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" charset="utf-8" src="../plugin/bootstrap-table-1.18.0/locale/bootstrap-table-zh-CN.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/bootstrap-table-1.18.0/bootstrap-table.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/jquery-treegrid-0.3.0/js/jquery.treegrid.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/bootstrap-table-1.18.0/bootstrap-table-treegrid.js"></script>
		<script type="text/javascript" charset="utf-8" src="../js/system/menu-page.js"></script>
	</body>
</html>
