<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../plugin/bootstrap-table-1.18.0/bootstrap-table.css">
		<link rel="stylesheet" href="../plugin/jquery-treegrid-0.3.0/css/jquery.treegrid.css">
	</head>
	<body>
		<div class="layuimini-container">
			<blockquote class="layui-elem-quote">
				Layui的树形表格treeTable，支持异步加载(懒加载)、复选框联动、折叠状态记忆
			</blockquote>
			<div class="form-row mb-2" id="toolbar">
				<div class="input-group mb-2 col">
					<div class="input-group-prepend ">
						<div class="input-group-text text-info">用户职业</div>
					</div>
					<input type="text" class="form-control" placeholder="用户职业">
				</div>
				<div class="input-group mb-2 col-4">
					<div class="input-group-prepend">
						<div class="input-group-text text-info">时间区间</div>
					</div>
					<input type="text" class="form-control bg-white" id="time" readonly="readonly" placeholder="Username">
				</div>
				<div class="input-group mb-2 col">
					<div class="input-group-prepend ">
						<div class="input-group-text text-info">用户职业</div>
					</div>
					<t:select name="userStatus" param="STATUS" class="custom-select mr-sm-2" data-empty="true"></t:select>
				</div>
				<div class="input-group mb-2 col">
					<button type="button" class="btn btn-outline-info mr-1">添加</button>
					<button type="button" class="btn btn-outline-info mr-1"><i class="fas fa-search"></i>查询</button>
				</div>
			</div>
			<table id="table" class="table" data-show-columns="true"></table>
		</div>
		<script type="text/javascript" charset="utf-8" src="../plugin/bootstrap-table-1.18.0/bootstrap-table.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/jquery-treegrid-0.3.0/js/jquery.treegrid.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/bootstrap-table-1.18.0/bootstrap-table-treegrid.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/bootstrap-table-1.18.0/locale/bootstrap-table-zh-CN.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../js/system/table.js"></script>
	</body>
</html>
