<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../layui-v2.5.7/css/layui.css" media="all">
	</head>
	<body>
		<div class="layuimini-container">
			<div class="layuimini-main">
				<blockquote class="layui-elem-quote">
					Layui的树形表格treeTable，支持异步加载(懒加载)、复选框联动、折叠状态记忆
				</blockquote>
			</div>
		</div>
	</body>
</html>
