<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>管理后台</title>
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-4.5.0/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-table-1.18.0/bootstrap-table.css" />
		<link rel="stylesheet" type="text/css" href="../plugin/layui-v2.5.7/css/layui.css">
		<style type="text/css">
			a:link {
				text-decoration: none;
				/* 指正常的未被访问过的链接*/
			}
			a:visited {
				text-decoration: none;
				/*指已经访问过的链接*/
			}
			a:hover {
				text-decoration: none;
				/*指鼠标在链接*/
			}
			a:active {
				text-decoration: none;
				/* 指正在点的链接*/
			}
		</style>
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo">管理后台</div>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
							贤心
						</a>
						<dl class="layui-nav-child">
							<dd><a href="">基本资料</a></dd>
							<dd><a href="">安全设置</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a href="/system/logout">退了</a></li>
				</ul>
			</div>
			<div class="layui-side layui-side-menu layui-bg-black">
				<div class="layui-side-scroll">
					<ul class="layui-nav layui-nav-tree" >
						<li class="layui-nav-item" th:each="module:${session.activeUser.menusList}">
							<a href="javascript:;" >
								<i class="layui-icon layui-icon-home"></i>
								<cite th:text="${module.menuName}"></cite>
							</a>
							<dl class="layui-nav-child">
								<dd th:each="menus:${module.childList}" th:onclick="loadPage('#layui-body',[[${menus.menuPath}]])">
									<a href="javascript:void(0);" th:text="${menus.menuName}"></a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<div id="layui-body" class="layui-body" style="padding: 15px;">
				内容主体区域
			</div>
			<div class="layui-footer">
				© layui.com - 底部固定区域
			</div>
		</div>
		<script type="text/javascript" charset="utf-8" src="../plugin/jquery-3.5.1.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/popper.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/bootstrap-4.5.0/js/bootstrap.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/bootstrap-table-1.18.0/bootstrap-table.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/laydate-v5.0.9/laydate.js"></script>
		<script type="text/javascript" charset="utf-8" src="../plugin/layui-v2.5.7/layui.js"></script>
		<script type="text/javascript">
			function loadPage(selector, path) {
				$(selector).load(path,function(response,status,xhr){
					console.log(response)
					console.log(status)
					console.log(xhr)
				})
			}
			layui.use('element', function() {
				var element = layui.element;
			});
			
		</script>
	</body>
</html>
